<h1>Welcome to express simple form111</h1>
<ul>
        {{#each students}}
        <li>{{this}}</li>
        {{/each}}
</ul>
<form action="/students/add" method="POST">
       <input type="text" name="usernamename" id="usernameid"/>
        <button type="submit">Send</button>
</form>