<h1>Welcome to express simple form111</h1>
<h2>{{students}}</h2>
<form action="/send-form" method="POST">
       <input class="usernameclass" name="usernamename" id="usernameid"/>
        <button type="submit">Send</button>
</form>